:root {
  --blue_color: #21283A;
  --white_color: #ffffff;
  --white_color2: #acb5ca;

  --edit_btn_color: #f0f0f0;
  --delete_btn_color: #ffbcbc;

  --black_color: #000000;
  --black_secondary: #9c9c9c;

  --pending_status_bg: #F7CB73;
  --confirm_status_bg: #08A045;

  --absent_status_bg: #ff5252;
}

.card_statistics {
  padding: 15px 20px 8px 20px;
  border-radius: 20px;
}

.font_w {
  font-weight: 500;
}

.yellow_color {
  color: #d7af0f !important;
}



.status_completed {
  background-color: var(--confirm_status_bg);
  color: var(--white_color);
  padding: 1px 10px;
  border-radius: 15px;
  font-size: 13px;
}

.status_pending {
  background-color: var(--pending_status_bg);
  color: var(--black_color);
  padding: 1px 10px;
  border-radius: 15px;
  font-size: 13px;
}

.status_absent {
  background-color: var(--absent_status_bg);
  color: var(--white_color);
  padding: 1px 10px;
  border-radius: 15px;
  font-size: 13px;
}

.satsabha_font {
  font-family: 'pristina', sans-serif;
  font-size: 60px;
  color: var(--white_color);
}

.loginPage .row>* {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.loginPage .sec1 {
  background-color: var(--blue_color);
  height: 100vh !important;
  padding-top: 250px;
}

.loginPage .sec1 .text-center {
  color: var(--white_color);
  margin-bottom: 20px;
}

.loginPage .sec2 {
  padding: 100px;
  margin-top: 35px;
}

.loginPage .login_qu {
  font-family: 'Port Lligat Slab', serif;
  font-size: 150px;
}

.input_field {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  padding-left: 0;
}

.btn_signin {
  background-color: var(--blue_color);
  padding: 12px 0px;
  color: var(--white_color);
  border-radius: 0;
}

.btn_signin:hover {
  background-color: var(--blue_color);
  padding: 12px 0px;
  color: var(--white_color);
  border-radius: 0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (width<1000px) {
  .loginPage .sec2 {
    padding: 70px;
  }
}

@media screen and (width<500px) {
  .loginPage .sec1 {
    height: 40vh !important;
    padding-top: 70px;
  }

  .loginPage .sec2 {
    padding: 30px;
  }
}

@media screen and (width<768px) {
  .loginPage .sec1 {
    height: 40vh !important;
    padding-top: 70px;
  }
}




.navbar_ {
  background-color: var(--blue_color);
}

.navbar_ .navitem {
  color: var(--white_color2);
  font-weight: 300;
  font-size: 14px;
}

.nav-link:hover {
  color: var(--white_color) !important;
}

.zone_nav .nav-link:hover {
  color: var(--black_color) !important;
}

.navbar-nav .nav-link.active {
  color: var(--white_color);
  font-weight: 500;
}

.navbar-toggler {
  color: var(--white_color) !important;
  font-size: 25px;
}


.adminHomeEditBtn {
  background-color: var(--edit_btn_color);
  padding: 1px 15px;
  border: none;
  border-radius: 15px;
}

.adminHomeDeleteBtn {
  background-color: var(--delete_btn_color);
  color: var(--delete_btn_font_color);
  padding: 1px 15px;
  border: none;
  border-radius: 15px;
}

.nav-link {
  color: var(--black_secondary);
}

.nav-link:hover {
  color: var(--black_color);
}

.nav-pills .nav-link.active {
  color: var(--black_color);
  border: 0.1px solid var(--blue_color);
  border-left: 5px solid var(--blue_color);
  background-color: transparent !important;
  /* border-radius: 0; */
}

.user_profile_details_text {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 8px;
}

.profile {
  background-color: #f5f6ff;
  padding: 50px 15px;
  border-radius: 20px;
}



.userDetailsTable .table>:not(caption)>*>* {
  background-color: transparent;
}



.tabNavi:hover {
  color: #000000 !important;
}